.bg {
background: #070729;
background: linear-gradient(128deg, rgba(7, 7, 41, 1) 0%, rgba(47, 23, 135, 1) 42%, rgba(13, 82, 42, 1) 100%);
height: 100%;
background-attachment: fixed;
}

.cuadroTitulo{
    background: #654ea3;  
background: -webkit-linear-gradient(to right, #eaafc81a, #654ea32c);  
background: linear-gradient(to right, #5a454e11, #654ea32d); 
 padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      margin: 2% 28%;
border: solid 2px #c7b0eebf;
}
.tituloPrincipal{
    font-size: 6em;
   margin: 10px;
   color: #aa7ff3;
}
.h2index{
font-size: 3em;
font-weight: bolder;
margin: 5px;
  color: #c0a9e9;
}


.cardindex {
  height: 23rem;
  width: 20rem;
  background-color: rgba(117, 93, 204, 0.103);
  margin-top: 5%;
text-align: center;
border-radius: 10px;
border: solid 2px #c7b0ee2e;
}

.cardsindex {
  display: flex;
  justify-content: space-around

}

.cardtitulo{
    font-size: 40px;
    margin: 8% 0;
    color: #c7b0ee;
    font-weight: bolder;
}

.pCard2{
    font-size: 20px;
    margin: 5%;
    color: #ccb5f5;
}
.mapa{
  max-width: 90%;
  height: 64%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  
}

.calle{
   color: #ccb5f5;
     font-size: 25px;
     margin: 0;
     font-weight: bolder;
}

.cardcatalogosPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cardcatalogosPadre p{
     color: #ccb5f5;
     font-size: 30px;
     margin: 0;
}
.cardcatalogos{
     height: 8rem;
  width: 15rem;
  background-color: rgba(117, 93, 204, 0.103);
  margin: 4%;
text-align: center;
border-radius: 10px;
border: solid 2px #c7b0ee99;

}

.cardcatalogos p{
    font-size: 2em;
    color: #ccb5f5;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}



/* página dietética */

.h2produ{
     color: #aa7ff3;
     font-size: 3rem;
     font-weight: bolder;
     text-align: center;
     margin: 4% 0 0 0;

}

.carddietetica {
     background: #654ea3;  
  border-radius: 12px;
  text-align: center;
border: solid 2px #c7b0eebf;
 width: 180px;
  min-height: 150px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
    cursor:pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
} 

.carddietetica:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}



.cardsdietetica{
display: flex;
justify-content: space-around;
margin-top: 3%;
}


.dieteticaimgcard{
  height: 70%;
  width: 100%;
  border-radius: 8%;
}

.carddietetica p {
font-size: 1.5rem;
font-weight: bolder;
color: #e4ccff;
margin: 0;
}






.productos-container {
  
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 6rem;
  flex-wrap: wrap;
}



.producto-card {
     background: #654ea3;  
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 150px;
  min-height: 150px;
    text-align: center;
    border: solid 2px #c7b0eebf;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.producto-card h3{
  font-size: 1.3rem;
font-weight: bolder;
color: #e4ccff;
margin: 0;

}
.producto-card p{
  font-size: 1rem;
font-weight: bolder;
color: #e4ccff;
margin: 0;
}
.producto-card img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 0.5rem;
}







.input-cantidad {
  width: 60px;
  margin: 8px auto;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  display: block;
  border: solid 2px #e7e0f5bf;
  border-radius: 6px;
  
  color: #3e2484;  
}

.agregar-carrito {
  background-color: #c095f1;
   border: solid 2px #e7e0f5bf;
   color: #3e2484;  
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  margin: 10px auto 0;
}

.agregar-carrito:hover {
  background-color: #3e2484;
  color: #e7e0f5bf;
} 




#carritoLateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: linear-gradient(160deg, #c07fe9, #e0e0e0);
  border-left: 2px solid #ccc;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#carritoLateral h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #472681;
  font-size: 50px;
}

#carritoContainer div {
  background: rgba(255, 255, 255, 0.711);
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

#carritoContainer p {
  margin: 8px 0;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

#carritoContainer button {
  background-color: #e53835cd;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  margin: 25px auto;
}


#carritoContainer button:hover {
  background-color: #c62828;
}

#carritoContainer strong {
  display: block;
  margin: 40px;
  font-size: 25px;
text-align: center;
} 


#toggleCarrito {
  position: fixed;
  right: 345px;
  top: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  font-size: 22px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  animation: parpadeo 1s infinite;
}

#toggleCarrito span#contadorCarrito {
  background-color: #f44336;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  padding: 3px 7px;
  position: absolute;
  top: -8px;
  right: -8px;
  font-weight: bold;
}

.destacar {
  animation: parpadeo 0.8s ease;
}


@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6;}
}



#cerrarCarrito{
  cursor: pointer;
  font-size: 30px; 
  position: absolute; 
  top: 10px; 
  right: 15px;
}




#carritoContainer input[type="text"],
#carritoContainer input[type="number"] {
  padding: 8px;
  margin: 5px 0 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
